.homepage {
  position: relative;
  min-height: 100vh;
}

.homepage::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../assets/logo_wo_bg.png");
  opacity: 0.1;
  pointer-events: none;
}
