.homepage {
  min-height: 100vh;
  padding-top: 80px;   /* 👈 THIS FIXES IT */
  position: relative;
  z-index: 1;
}


.homepage::before {
  content: "";
  position: fixed;
  inset: 0;

  background: url('../../assets/logo_wo_bg.png')
              center 60% / contain no-repeat;

  opacity: 0.08;
  pointer-events: none;
  z-index: -1;   /* 👈 put it behind everything */
}
