body {
  min-height: 97vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background: url('../assets/logo_wo_bg.png') center / contain no-repeat;
  opacity: 0.40;          /* 👈 adjust this */
  pointer-events: none;  /* allows clicks through */
  z-index: -1;
}
